.footer {
  background-color: $color-footer;
  color: $color-grey-light-1;
  padding: 4rem 0;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 2rem 0;
  }

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 10rem;
    height: auto;
  }

  &__copyright {
    display: inline-block;
    border-top: 1px solid $color-grey-dark;

    padding-top: 1rem;
    margin-top: 3rem;

    @include respond(tab-port) {
      width: 100%;
      float: none;
      margin-top: 0;
    }
  }
}
